body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: 'Sarabun', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
